@{
    ViewBag.Title = "Blog Post";
}

<div class="wrapper">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Remove the .animated class if you don't want things to move -->
                    <h1 class="animated slideInLeft"><span>Blog Post</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!-- Blog Post -->
                <h4><a href="blog-post.html">HighLand - a new responsive Bootstrap 3 template</a></h4>
                <ul class="text-muted list-inline">
                    <li><i class="fa fa-user"></i> <a href="profile.html">Administrator</a></li>
                    <li><i class="fa fa-calendar"></i> November 10, 2013</li>
                    <li><i class="fa fa-comments-o"></i> 21 comments</li>
                </ul>
                <hr>
                <p class="blog-text">
                    <img class="pull-right img-responsive blog-img" alt="..." src="@Url.Content("~/Areas/Home/img/works1.jpg")">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus. Nam aliquam pretium eros, et venenatis sapien porttitor at. Nunc bibendum ipsum sit amet euismod sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam varius justo sed velit dictum feugiat. Sed tempus eros quis eleifend posuere. Fusce tempus euismod sem vitae porta. Vestibulum eget mi suscipit, ultrices turpis quis, ultricies ipsum. Pellentesque et facilisis odio. Vivamus et mauris consequat, rhoncus risus vitae, porttitor dui.
                    <br /><br />
                    Maecenas non laoreet ipsum, id mattis nunc. Vestibulum viverra sapien a porta venenatis. Morbi in dignissim quam, eu malesuada lorem. Integer quis cursus ligula. Proin elementum, massa egestas rhoncus blandit, tortor mauris pellentesque eros, eget volutpat ligula nunc quis sapien. Integer eget cursus turpis. Sed non aliquam odio. Nullam et arcu sed felis interdum aliquam. Fusce euismod, mauris non lacinia porttitor, enim tortor porttitor diam, sit amet fringilla felis orci bibendum erat. Praesent lectus mauris, volutpat eu blandit auctor, varius faucibus est.
                </p>
                <!-- New comment form -->
                <div class="new-comment">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-2 hidden-xs">
                                <img src="@Url.Content("~/Areas/Home/img/face1.jpg")" alt="..." class="img-responsive">
                            </div>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" placeholder="Leave a message..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="hl-btn hl-btn-dark hl-btn-sm">Post comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comments list -->
                <h4>21 comments</h4>
                <hr>
                <div class="comment">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="@Url.Content("~/Areas/Home/img/face2.jpg")" alt="...">
                        </a>
                        <div class="media-body">
                            <p><a href="profile.html">Username</a></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
                            </p>
                            <ul class="text-muted list-inline">
                                <li><i class="fa fa-clock-o"></i> 20 minutes ago</li>
                                <li><i class="fa fa-cog"></i> <a href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="@Url.Content("~/Areas/Home/img/face3.jpg")" alt="...">
                        </a>
                        <div class="media-body">
                            <p><a href="profile.html">Username 2</a></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
                            </p>
                            <ul class="text-muted list-inline">
                                <li><i class="fa fa-clock-o"></i> 1 hour ago</li>
                                <li><i class="fa fa-cog"></i> <a href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="@Url.Content("~/Areas/Home/img/face4.jpg")" alt="...">
                        </a>
                        <div class="media-body">
                            <p><a href="profile.html">Username 3</a></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur urna at neque mollis sagittis. Vivamus viverra justo in dui vulputate tincidunt in eu magna. Ut ut risus pretium, varius felis a, congue metus.
                            </p>
                            <ul class="text-muted list-inline">
                                <li><i class="fa fa-calendar"></i> 11/10/2013</li>
                                <li><i class="fa fa-cog"></i> <a href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Social Links -->
                <h3 class="hl">Bookmark</h3>
                <hr>
                <div class="social-icons social-icons-default">
                    <ul>
                        <li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="vk"><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li class="plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="dropbox"><a href="#"><i class="fa fa-dropbox"></i></a></li>
                        <li class="vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <!-- Tags -->
                <h3 class="hl">Story tags</h3>
                <hr>
                <p class="tags">
                    <a href="#">Bootstrap</a>
                    <a href="#">HTML5</a>
                    <a href="#">Highland</a>
                    <a href="#">Blog post</a>
                    <a href="#">CSS3</a>
                    <a href="#">jQuery</a>
                </p>
                <br />

                <!-- Recently Added -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recently Added</h3>
                    </div>
                    <div class="panel-body">
                        <div class="recent-blogs">
                            <ul>
                                <li><a href="blog-post.html" class="new-story">HighLand - a new responsive Bootstrap 3 template</a></li>
                                <li><a href="blog-post.html" class="new-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                                <li><a href="blog-post.html">Nulla dapibus lorem sed felis placerat fringilla</a></li>
                                <li><a href="blog-post.html">Praesent eget nibh quis arcu iaculis commodo et at lectus</a></li>
                                <li><a href="blog-post.html">Etiam a enim ut odio laoreet viverra</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
