@model JulianPerrottName.Models.BlogPageViewModel
@{
    ViewBag.Title = "Blog Post";
}

<div class="wrapper">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Remove the .animated class if you don't want things to move -->
                    <h1 class="animated slideInLeft"><span>Blog Post</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!-- Blog Post -->
                <div>

                    <h4><a href="blog-post.html">@Model.Post.Title</a></h4>
                    <ul class="text-muted list-inline">
                        <li><i class="fa fa-user"></i> <a href="profile.html">Julian Perrott</a></li>
                        <li><i class="fa fa-calendar"></i> @Model.Post.DateCreated.Value.ToString("MMMM d, yyyy")</li>
                        <li><i class="fa fa-comments-o"></i> @Model.Comments.Count comments</li>
                    </ul>
                    <hr>
                    <p class="blog-text">
                        @Html.Raw(Model.Post.PostContent)
                    </p>

                </div>

                <!-- New comment form -->
                <div class="new-comment">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="txtName">Name *</label>
                            <div class="col-md-10">
                                <input name="txtName" class="form-control" id="txtName" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="txtEmail">E-mail</label>
                            <div class="col-md-10">
                                <input class="form-control" id="txtEmail" type="text">
                                <span id="gravatarmsg"></span>
                            </div>
                        </div>

                        <div class="form-group" id="commentCompose" style="display: block;">
                            <label class="col-md-2 control-label" for="txtContent">Comment *</label>
                            <div class="col-md-10">
                                <textarea name="txtContent" class="form-control" id="txtContent" rows="6" cols="50" placeholder="Leave a message..."></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="hl-btn hl-btn-dark hl-btn-sm">Post comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comments list -->
                <h4>@Model.Comments.Count comments</h4>
                <hr>

                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-comments fa-4x"></i>
                            </a>
                            <div class="media-body">
                                <p>@comment.Author<</p>
                                <p>
                                    @comment.Comment
                                </p>
                                <ul class="text-muted list-inline">
                                    <li><i class="fa fa-calendar"></i> @comment.CommentDate.ToString("MMMM d, yyyy")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-sm-4">
                <!-- Social Links -->
                @*<h3 class="hl">Bookmark</h3>
                <hr>
                <div class="social-icons social-icons-default">
                    <ul>
                        <li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="vk"><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li class="plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="dropbox"><a href="#"><i class="fa fa-dropbox"></i></a></li>
                        <li class="vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>*@

                <!-- Tags -->
                <h3 class="hl">Post tags</h3>
                <hr>
                <p class="tags">
                    @foreach(var tag in Model.Tags)
                    {
                    <a href="#">@tag.Tag</a>
                    }
                </p>
                <br />

                <!-- Recently Added -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recently Added</h3>
                    </div>
                    <div class="panel-body">
                        <div class="recent-blogs">
                            <ul>
                                <li><a href="blog-post.html" class="new-story">HighLand - a new responsive Bootstrap 3 template</a></li>
                                <li><a href="blog-post.html" class="new-story">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                                <li><a href="blog-post.html">Nulla dapibus lorem sed felis placerat fringilla</a></li>
                                <li><a href="blog-post.html">Praesent eget nibh quis arcu iaculis commodo et at lectus</a></li>
                                <li><a href="blog-post.html">Etiam a enim ut odio laoreet viverra</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
