@{
    ViewBag.Title = "Gallery Item";
}

<div class="wrapper">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Remove the .animated class if you don't want things to move -->
                    <h1 class="animated slideInLeft"><span>Gallery</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="row list-inline gallery-list gallery-list-bubbles">
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works1.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works2.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works3.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works4.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works2.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works3.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works4.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="col-sm-4 col-md-3">
                <a href="gallery-item.html">
                    <span class="gallery-thumbnail">
                        <img class="img-responsive" src="@Url.Content("~/Areas/Home/img/works1.jpg")" alt="...">
                        <span class="gallery-bubble">
                            <span class="pull-left">Image Title</span>
                            <span class="pull-right">
                                <i class="fa fa-thumb-tack"></i> 12 <i class="fa fa-comments"></i> 5
                            </span>
                            <span class="clearfix show"></span>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>