@{
    ViewBag.Title = "Index";
}

<div class="wrapper">
    <div id="wrap">
        <div class="container">
            @Html.Partial("_Showcase")
        </div>
    </div>
    <div class="container">
        @Html.Partial("_Services")

        <div class="row">
            @Html.Partial("_Welcome")

            @Html.Partial("_Updates")
        </div>

        @Html.Partial("_RecentWorks")
    </div>
</div>
